<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="icon" href="/icon.png">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1.0, user-scalable=no">
	<title>Installed UnloadTabs</title>
	<style type="text/css">
		:root {
			background: #242a31; filter: invert(1) hue-rotate(180deg);
			font-family: Segoe UI, Tahoma, sans-serif; font-size: 120%;
		}
		body { padding: 25px; margin: auto; max-width: 1000px; }
		h1 * { vertical-align: middle; }
		h1 img { margin-right: 8px; }
	</style>
</head>
<body>

<h1><img src="/icon.png"><span>UnloadTabs was updated</span></h1>

<p><small><i> If you just installed UnloadTabs, you know why you see this and can simply close the tab.</i></small></p>
<p>UnloadTabs was disabled last November because Firefox <i>Quantum</i> (57+) disabled support for the kind of add-on it was, without adding the necessary functionality to re-write it.
Since then, there have been some Firefox updates, which allow UnloadTabs with most of its previous features to be implemented again as a <i>WebExtension</i>.<br>
So I invested around 40 hours to re-write the entire extension from scratch. I believe that the result now works well enough to be of value to other users again, but there are still some things that don't work:</p><ul>
	<li>Unloaded tabs can't be styled. There are no plans to ever allow this in Firefox again. see below for workarounds.</li>
	<li>Preventing tabs from loading doesn't always work completely. This is due to the way <i>WebExtensions</i> work. Whey report things (like the closing of a tab) <i>asynchronously</i>, that is, <i>after</i> it already happened. Sometimes (often randomly) that is to late. In these cases, UnloadTabs tries to revert the default actions, but that may not always work entirely:</li><ul>
		<li>Tabs may <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1450382">loose their icons</a> or <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1450371">display as loading</a>. These are Firefox bugs. Reloading the tab fixes the problem.</li>
		<li>Hopefully nothing else.</li>
	</ul>
	<li>The shortcuts for circling had to be changed to <code>Alt</code>+<code>PageUp/Down</code> (because only one of <code>Ctrl</code> or <code>Alt</code> can be used and default shortcuts can't be overwritten). They can be changed from Firefox 60 onward.</li>
</ul>
<p>If you encounter any <b>other</b> problems, please report them as an <a href="https://github.com/NiklasGollenstede/unload-tabs/issues">issue</a> or comment on an existing issue matching your problem. Please don't complain in a rating on the Add-ons download page. I can't respond to those.</p>


<h2>Unloaded Tabs Style</h2>

<p><i>WebExtensions</i> can't change this part of the browsers appearance anymore. The only way to still do this is by changing (or adding) files in the profile directory on the computers disk, either manually or automatically with the reStyle extension.</p>

<h3>reStyle</h3>

<p>Install the <a href="https://addons.mozilla.org/firefox/addon/re-style/" target="_blank">reStyle</a> extension and set it up to use <a href="https://github.com/NiklasGollenstede/native-ext" target="_blank">NativeExt</a>.<br>
Then use it to install e.g. the <a href="https://github.com/NiklasGollenstede/unload-tabs/blob/master/dim-unloaded-tabs.css" target="_blank">Dim Unloaded Tabs</a> user style.</p>

<h3>Manual</h3>
<p><ul>
	<li>visit <code>about:support</code> (in a new tab)</li>
	<li>click <code>Open Folder</code> next to <code>Profile Folder</code> in the first table</li>
	<li>create and/or open the <code>chrome</code> folder therein</li>
	<li>create and/or open the <code>userChrome.css</code> therein</li>
	<li>add/append the content of <a href="/dim-unloaded-tabs.css" target="_blank">this style</a></li>
	<li>save and restart Firefox</li>
</ul></p>

</body>
</html>
